[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
    diff = auto
    branch = auto
    status = auto

[core]
    # Will be default in later git versions
    attributesfile = "~/.config/git/attributes"
    excludesfile = "~/.config/git/excludes"

[diff]
    renames = true
    algorithm = patience

[diff "tex"]
    xfuncname = "^(\\\\(section|chapter|part)\\*{0,1}\\{.*)$"

[log]
    date = local

[push]
    default = simple

[sendemail]
    smtpserver = /usr/sbin/sendmail
    envelopeSender = opensource@till.name

[user]
    name = Till Maas
    email = opensource@till.name

[format]
    signoff = true

[branch]
    autoSetupRebase = always


[include]
    path = "~/.gitconfig-local"
[rebase]
	autoSquash = true
	diffstat = true
